h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #0A192F;;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #0A192F;;
}

h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

ul {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #CAD3E0;
}